footer.bg-light.text-center.text-lg-start.mt-5
  .container.p-4
    .row
      .col-lg-4.col-md-12.mb-4.mb-md-0
        h5.text-danger Liên hệ chúng tôi
        p
          | Email: samnvhn@gmail.com
          br
          | Số điện thoại: 0359200508
          br
          | Địa chỉ: Hà Nội 
      .col-lg-4.col-md-12.mb-4.mb-md-0
        h5.text-danger Chính sách
        ul.list-unstyled
          li
            a.text-dark(href="/policy") Chính sách hoàn tiền
          li
            a.text-dark(href="/terms") Điều khoản sử dụng
          li
            a.text-dark(href="/privacy") Chính sách bảo mật
      .col-lg-4.col-md-12.mb-4.mb-md-0
        h5.text-danger Theo dõi chúng tôi
        .d-flex.justify-content-center.gap-3
          a(href="https://facebook.com/airline" target="_blank")
            i.fab.fa-facebook-f.text-primary(style="font-size: 1.5rem;")
          a(href="https://twitter.com/airline" target="_blank")
            i.fab.fa-twitter.text-info(style="font-size: 1.5rem;")
          a(href="https://instagram.com/airline" target="_blank")
            i.fab.fa-instagram.text-danger(style="font-size: 1.5rem;")
    .text-center.p-3.bg-danger.text-white
      p © 2025 Hệ thống bán vé máy bay. All rights reserved.
      a.text-white(href="/") Quay lại trang chủ

// Font Awesome cho các biểu tượng mạng xã hội
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3QIq4oWH/v8p2R4gQz5fFnNgQlL5mFQ2QhXu2AMoC8fk4wU4KKSdO0/f45eude1Szp2iELRXylnL9iK4w+8Q==" crossorigin="anonymous" referrerpolicy="no-referrer")