header.header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
    .container
      .row.align-items-center.w-100
        .col-3
          .inner-logo
            a.navbar-brand(href="/")
              img(src="/img/ST.png" alt="Logo" width="120")
        .col-9
          .inner-menu
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
              span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
              ul.navbar-nav.ms-auto
                li.nav-item
                  a.nav-link.active(href="/home" aria-current="page") Trang chủ
                li.nav-item
                  a.nav-link(href="/products") Sản phẩm
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                    | Tùy chọn
                  ul.dropdown-menu.dropdown-menu-end(aria-labelledby="navbarDropdown")
                    li
                      a.dropdown-item(href="/admin/dashboard") Tổng quan
                    li
                      a.dropdown-item(href="/admin/products") Sản phẩm
               

                  