//- // views/sider.pug
//- //- aside.sider
//- //-   .inner-menu
//- //-     ul.nav
//- //-       li.nav-item
//- //-         a.nav-link(href="/admin/dashboard" class=(currentPath === '/admin/dashboard' ? 'active' : '')) Tổng quan
//- //-       li.nav-item
//- //-         a.nav-link(href="/admin/products" class=(currentPath === '/admin/products' ? 'active' : '')) Sản phẩm
//- //-       li.nav-item
//- //-         a.nav-link(href="/admin/users" class=(currentPath === '/admin/users' ? 'active' : '')) Người dùng
//- //-       li.nav-item
//- //-         a.nav-link(href="/admin/tickets" class=(currentPath === '/admin/tickets' ? 'active' : '')) Vé
//- //-       li.nav-item
//- //-         a.nav-link(href="/admin/reports" class=(currentPath === '/admin/reports' ? 'active' : '')) Báo cáo


//- //- .dropdown
//- //-   button.btn.btn-secondary.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false").
    
//- //-     Dropdown button
    
//- //-   ul.dropdown-menu
//- //-     li
//- //-       a.dropdown-item(href="/admin/dashboard") Action
//- //-     li
//- //-       a.dropdown-item(href="/admin/products") Another action
//- //-     li
//- //-       a.dropdown-item(href="#") Something else here