extends ../../layout/default.pug

block main
  .about-container
    .about-wrapper
      .page-title
        h1 Giới Thiệu Về Chúng Tôi
        p Chúng tôi cam kết mang đến dịch vụ tốt nhất cho khách hàng

      .about-content
        h2 Sứ Mệnh
        p Sứ mệnh của chúng tôi là cung cấp sản phẩm chất lượng và dịch vụ hoàn hảo.

        h2 Tầm Nhìn
        p Trở thành công ty dẫn đầu trong ngành nghề với sự đổi mới không ngừng.

        h2 Giá Trị Cốt Lõi
        ul
          li Chất lượng
          li Tận tâm
          li Sáng tạo
          li Hợp tác

      .team-section
        h2 Đội Ngũ Của Chúng Tôi
        ul
          li
            strong Nguyễn Văn Sâm
            |  - Giám đốc điều hành
          li
            strong Đặng Thị Thùy
            |  - Trưởng phòng kỹ thuật
          li
            strong Thùy Đặng
            |  - Chuyên viên marketing

      .contact-info
        h2 Liên Hệ Với Chúng Tôi
        p Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi tại email: samnvhn@gmail.com
