header.header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
    .container
      .row.align-items-center.w-100
        .col-3
          .inner-logo
            a.navbar-brand(href="/")
              img(src="/img/ST.png", alt="Logo" width="120")
        .col-9
          .inner-menu
            ul.navbar-nav.ms-auto
              li.nav-item
                a.nav-link(href=".//home") Trang chủ
              li.nav-item
                a.nav-link(href="/products") Sản phẩm
            