include ../mixins/sub-menu.pug


header.header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-danger.shadow-sm.py-2
    .container
      a.navbar-brand.d-flex.align-items-center(href="/")
        img(src="/img/ST.png" alt="Logo" width="50" class="me-2 shadow-sm")
        span.fw-bold.fs-4.text-white NGUYENVANSAM
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0.gap-2
          li.nav-item
            a.nav-link.active.text-white.fw-semibold.px-3.rounded(href="/home" aria-current="page") Trang chủ
          li.nav-item.sub-menu
            -const pathProducts = "/products";
            a.nav-link.text-white.fw-semibold.px-3.rounded(href="/products") Sản phẩm
            +sub-menu(records , pathProducts)
          








  