html
  head
    title Chỉnh sửa sản phẩm
  body
    h1 Chỉnh sửa sản phẩm
    form(action="/products/edit" method="POST")
      input(type="text" name="productName" placeholder="Tên sản phẩm")
      button(type="submit") Lưu