//- tạo ra một khối dùng chung cho các file pug khác


mixin filter-status(filterStatus)
  each item in filterStatus
         button(
           class=`btn btn-sm ml-3 btn-outline-success ${item.class}`
           button-status=item.status
             ) #{item.name}