mixin search(keyword)
  form
    .input-group.mb-3
      input.form-control(type="text" placeholder="Nhập từ khóa" aria-label="Search keyword" aria-describedby="button-addon2" name="keyword" value=keyword)
      button.btn.btn-warning(type="submit" id="button-addon2") Tìm kiếm