mixin sortCategory()
     div(sort)
        select.form-control(name="sort" sort-select)
            option(value="position-desc") 🡻 Vị trí giảm dần
            option(value="position-asc") 🡹 Vị trí tăng dần
            option(value="title-asc") A → Z
            option(value="title-desc") Z → A
        button.btn.btn-outline-danger.mt-2(sort-clear) Xóa lọc
                