extends ../../layout/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        .chat-container
          +box-head("Chat")
          .chat(my-id=user.id)
            .inner-body
              each chat in chats
                div(class=(chat.userId === user.id ? "inner-outgoing" : "inner-incoming"))
                  if chat.userId !== user.id
                    .inner-name
                      | #{chat.infoUser.fullName}
                      span.online-status
                    .inner-content #{chat.content}
                    .message-time Vừa xong
                  else
                    .inner-content #{chat.content}
                    .message-time Đã gửi

              //- Typing indicator (hiển thị khi có người đang gõ)
              .inner-list-typing
                .box-typing
                  .inner-name Le Van A
                  .inner-dots
                    span
                    span
                    span
                .box-typing
                  .inner-name Le Van B
                  .inner-dots
                    span
                    span
                    span

            .inner-foot
              form.inner-form(action="", method="POST", autocomplete="off")
                input(type="text", placeholder="Nhập nội dung ...", name="content", required)
                span.emoji-picker
                  i.fa-solid.fa-face-smile
                button(type="submit")
                  i.fa-solid.fa-paper-plane
        .tooltip(role="tooltip")
          emoji-picker.light
        //- Scroll to bottom button
      
